.mainPage {
    width: 80vw;
    margin: 4rem auto 0 auto;
    text-align: start;

    &__description {
        margin: 2rem 0 1.5rem 0;

        > span {
            padding: 0 0.3rem;
            text-decoration-line: underline;
        }
    }
}

.mainPage > h1 {
    margin-bottom: 1rem;
}

span {
    color: #e58181;
}

span:hover {
    cursor: pointer;
}

@media (min-width: 1024px) {
    .mainPage {
        width: 50vw;
    }
}