.mainPage {
    height: 85vh;
    width: 80vw;
    margin: 4rem auto 0 auto;
    text-align: start;

    &__description {
        margin: 1rem 0;
    }
}

.mainPage > h1 {
    margin-bottom: 1rem;
}

span {
    color: #e58181;
}

span:hover {
    cursor: pointer;
}

@media (min-width: 1024px) {
    .mainPage {
        width: 50vw;
    }
}