.homepage {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    margin: 4rem auto;
}

.homepage > p {
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

.tasklistSection {
    margin-top: 2rem;
    width: 100%;
}

@media (min-width: 1024px) {
    .tasklistSection {
        width: 500px;
    }
}